.box{
    display: inline-block;
    background-color: black;
    padding: 5px;
   
}

.red{
    border-radius: 50%;
    background-color: red;
    height:100px;
    width:100px;
}

.yellow{
    border-radius: 50%;
    background-color: yellow; 
    height:100px;
    width:100px;
}

.green{
    border-radius: 50%;
    background-color: green; 
    height:100px;
    width:100px;
}